.btn {
  padding: 5px 15px;
  cursor: pointer; 
  background: #000;
  color: #fff;
  width: 6rem;
  border: none;
  border-radius: 10px;
}
.container {
  background-color: teal;
  text-align: center;
  height: 20rem;
}