@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(223, 224, 220);
  height: 100%;
  scroll-behavior: smooth;
}

.select-div {
  display: flex;
  background: #333333;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

.select-div .pick-country {
  padding: 2px;
  font-family: inherit;
  background: #000;
  color: #fff;
  border: none;
}

.header {
  font-family: 'Open Sans', sans-serif;
  background: teal;
  height: 15dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.header h1 {
  font-size: 30px;
}

.header h1 a {
  text-decoration: none;
  color: #fff;
}

.header h1 a:hover {
  text-decoration-line: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px;
  color: cornflowerblue;
  transition: 1s;
}

.header .images-div img {
  width: 50px;
  margin: 4px;
  cursor: pointer;
}

.news-div {
  display: flex;
  background: #333333;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  position: sticky;
  top: 0;
  font-family: 'Open Sans', sans-serif;
}

.category-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

.category-div p {
  text-decoration: none;
  color: #fff;
  padding: 4px;
  transition: .7s;
}

.category-div p:hover {
  text-decoration-line: underline;
  text-decoration-color: cornflowerblue;
  text-decoration-thickness: 2px;
  cursor: pointer;
}
/* search box input */
.search-box-div input {
  padding: 6px;
  border: none;
  width: 250px;
  min-width: 200px;
  margin-right: 10px;
}
/* this hide class is still the search input */
.hide {
  display: none;
}

.search-box-div input::placeholder {
  padding-left: 5px;
  color: #3b3333;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 3px;
  font-family: inherit;
}

.search-box-div img {
  padding: 6px;
  width: 25px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.search-box-div img:hover {
  background: #a09999bb;
  transition: .7s;
}

.main-div {
  display: flex;
  justify-content: space-between;
}

.main-div .aside-section {
  width: 30%;
  border: 2px solid #000;
  height: max-content;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.main-div .aside-section .box {
  width: auto;
  height: 100%;
  margin: 20px;
  background: teal;
}

.main-div .section-div {
  text-align: center;
  margin: 10px;
  padding: 5px;
  color: #fff;
  width: 70%;
}

.main-div .section-div h1 {
  background: teal;
  color: #fff;
  padding: 10px;
  margin: 5px 10px;
}

.main-content-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

.cover-image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.news-details {
  background: teal;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.link-to-full-post {
  text-decoration: none;
  color: #ff0b0b;
  font-weight: 400;
  padding: 5px;
}

.news-title {
  font-weight: 800;
  padding: 5px 15px;
  font-size: 20px;
}

.news-description {
  font-size: 15px;
  font-weight: 400;
}

.generated-div {
  width: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
.generated-div .author-div {
  display: flex;
  align-items: center;
  width: 50%;
}

.generated-div .date-div {
  display: flex;
  align-items: center;
  width: 50%;
}

.author-div .author-image,
.date-div .date-image {
  margin-right: 2px;
}